.pie {
  padding: 15px;
}
.pie__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.pie__content p small {
  padding: 2px;
  text-align: center;
  color: gold;
}
.pie__content-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.pie__content-button button {
  border: solid 1px gold;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
  background-color: gray;
}
.pie__content-button button small {
  color: black;
}
.pie__content-button button:active {
  background-color: gray;
  transform: translateY(1px);
  box-shadow: 0 5px gold;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  max-width: 1200px;
  margin: 10px auto;
  color: gold;
  padding: 30px;
}

p {
  line-height: 1.5;
}

body {
  background-color: rgb(20, 26, 38);
}

.content, .hero_grindex__content, .rank, .hero_market__content, .hero_news, .contacto__content, .hero__content, .head__content {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  padding: 30px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.hero__content-data h1 {
  text-align: start;
}
.hero__content-data p {
  text-align: justify;
  margin: 10px 0;
}
.hero__content-data button {
  margin: 10px 0;
  border: solid 1px gold;
  border-radius: 18px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: gray;
}
.hero__content-data button small {
  color: black;
}
.hero__content-data button:active {
  background-color: gray;
  transform: translateY(1px);
  box-shadow: 0 5px gold;
}

.contacto {
  padding: 20px;
}
.contacto__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contacto__content h1 {
  text-align: center;
}
.contacto__content p {
  text-align: center;
}
.contacto__content-data {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.contacto__content-data input {
  border-radius: 15px;
  border: 2px solid gold;
  padding: 4px;
  cursor: text;
  background-color: gray;
  color: black;
}
.contacto__content-data button {
  border: solid 1px gold;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  background-color: gray;
}
.contacto__content-data button small {
  color: black;
}
.contacto__content-data button:active {
  background-color: gray;
  transform: translateY(1px);
  box-shadow: 0 5px gold;
}

@media (min-width: 992px) {
  .hero__content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
  }
  .hero__content-data {
    text-align: start;
    padding: 10px;
  }
}
.hero_news {
  padding: 20px;
}
.hero_news__content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hero_news__content img {
  margin: 10px auto;
  width: 225px;
}
.hero_news__content-data p {
  text-align: justify;
  padding: 20px;
}

@media (min-width: 992px) {
  .hero_news__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
  .hero_news__content img {
    width: 65%;
    height: 80%;
  }
}
.hero_market {
  padding: 30px;
}
.hero_market__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero_market__content img {
  height: 325px;
}
.hero_market__content-data p {
  text-align: justify;
}

@media (min-width: 992px) {
  .hero_market {
    margin: 20px;
  }
  .hero_market__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .hero_market__content img {
    justify-self: center;
    width: auto;
    height: auto;
  }
}
.hero_market__content-data p {
  text-align: justify;
}

#chart_div {
  width: 100%;
}

.hero_grindex {
  padding: 20px;
}
.hero_grindex__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.hero_grindex__content-data p {
  text-align: justify;
}

@media (min-width: 992px) {
  .hero_grindex {
    margin: 50px;
  }
  .hero_grindex__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .hero_grindex__content img {
    justify-self: center;
  }
}
