.hero_grindex {
    padding: 20px;

    &__content {
        @extend .content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center;
        gap: 40px;

        &-data {
            p {
                text-align: justify;
            }
        }
    }
}

@media (min-width: $bpLarge) {
    .hero_grindex {
        margin: 50px
    }
    .hero_grindex__content {
        @extend .content;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        img {
            justify-self: center;
        }
    }
}