* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
hr {
    max-width: 1200px;
    margin: 30px auto;
    color: gold;
    padding: 30px;
}
body {
    background-color: rgb(20, 26, 38);
}